<?xml version="1.0" encoding="UTF-8"?>
<DataLoader xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<output>output.pfm</output>
	<sceneLoader>
		<cameraLoaders>
			<CameraLoader>
				<position>
					<X>0</X>
					<Y>0</Y>
					<Z>0</Z>
				</position>
				<rotation>
					<X>0</X>
					<Y>0</Y>
					<Z>0</Z>
				</rotation>
				<backgroundColor>
					<R>1</R>
					<G>0.4117647</G>
					<B>0.4117647</B>
					<A>1</A>
				</backgroundColor>
				<fov>1.6</fov>
				<width>780</width>
				<height>600</height>
			</CameraLoader>
		</cameraLoaders>
		<solidLoaders>
			<SolidLoader xsi:type="SphereLoader">
				<position>
					<X>5</X>
					<Y>0</Y>
					<Z>0</Z>
				</position>
				<rotation>
					<X>3</X>
					<Y>2</Y>
					<Z>1</Z>
				</rotation>
				<color>
					<R>0</R>
					<G>1</G>
					<B>0</B>
					<A>1</A>
				</color>
				<diameter>1</diameter>
			</SolidLoader>
		</solidLoaders>
		<lightLoaders>
			<LightSourceLoader xsi:type="PointLightLoader">
				<position>
					<X>5</X>
					<Y>5</Y>
					<Z>5</Z>
				</position>
				<rotation>
					<X>0</X>
					<Y>0</Y>
					<Z>0</Z>
				</rotation>
				<intensity>10</intensity>
				<lightColor>
					<R>0</R>
					<G>0</G>
					<B>1</B>
					<A>1</A>
				</lightColor>
			</LightSourceLoader>
		</lightLoaders>
	</sceneLoader>
</DataLoader>